.order {
    position: relative;
    padding: 40px;
    margin: 10px 0;
    background: #ffffff;
    border: 1px solid #d3d3d3;

    &__title {
        margin-bottom: 10px;
    }

    &__time {
        margin-bottom: 40px;

    }

    &__id {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 12px;
    }

    &__total {
        font-weight: 400;
        text-align: right;
    }
}

@media screen and (max-width: 500px) {
    .order {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 10px 0;

        &__title {
            margin-top: 50px;
        }

        &__id {
            top: unset;
            bottom: 10px;
            right: 10px;
        }

        &__total {
            margin-bottom: 20px;
        }
    }

}