.checkout {
    display: flex;
    padding: 20px;
    background: #ffffff;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    min-height: 100vh;

    &__right {
        display: flex;
        justify-content: center;
        max-height: 150px;
    }

    &__ad {
        width: 100%;
        margin-bottom: 10px;
    }

    &__title {
        margin-right: 10px;
        padding: 10px;
        border-bottom: 1px solid #d3d3d3;
    }

    &__helloTitle {
        padding-left: 10px;
        font-size: 16px;
    }
}

@media screen and (max-width: 900px) {
    .checkout {
        flex-direction: column;
    }
}